.games-wallpaper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -1;

	.games {
		display: flex;
		justify-content: center;

		.games-title {
			margin-top: 50px;
			color: #ffffff;
			font-family: "Istok Web", sans-serif;
			font-size: 30px;
			font-weight: 300;
		}
	}
}
