.metamask-btn {
	border-radius: 40px;
	background-color: #3bb54a;
	padding: 13px 33px;
	display: flex;
	align-items: center;
	gap: 0 24px;
	cursor: pointer;

	.metamask-text {
		display: inline-flex;
		font-family: 'Lexend', sans-serif;
		font-size: 20px;
		color: #ffffff;
	}

	.metamask-img {
		height: 45px;
	}
}
