.reg {
	display: none;
	margin: 0 auto;

	.reg-inner {
		color: #f4f4f4;
		padding: 18px;
		border-radius: 18px;
		box-shadow: 0 3px 6px rgba(#121216, 0.36);
		background-color: rgba(#181819, 0.9);
		backdrop-filter: blur(20px);
		border: 2px solid #353535;

		.reg-logo {
			display: flex;
			align-items: center;
			gap: 0 16px;

			.reg-logo-img {
				height: 72px;
			}

			.reg-logo-title {
				font-size: 24px;
				font-family: "Roboto", sans-serif;
				font-weight: 400;
			}
		}
	}
}