@mixin aboutItems {
	box-shadow: 2px 3px 3px rgba(23, 23, 23, 0.24);
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(20px);
}

.section2 {
	min-height: 100vh;
	padding-top: 144px;

	.about {
		gap: 4px 0;
		display: flex;
		flex-direction: column;
		width: 640px;
		margin: 0 auto;

		.about-item {
			@include aboutItems;
			padding: 12px;
			border-radius: 4px;
			
			&:first-child {
				border-radius: 18px 18px 4px 4px;
				text-align: center;
				font-size: 24px;
			}

			&:nth-child(2) {
				background-color:thistle;
			}

			&:nth-child(3) {
				background-color:palevioletred;
			}

			&:nth-child(4) {
				background-color:tomato;
			}

			&:nth-child(5) {
				background-color: cornflowerblue;
			}

			&:nth-child(6) {
				background-color: darkseagreen;
			}

			&:nth-child(7) {
				background-color: crimson;
			}

			&:nth-child(8) {
				background-color: mediumpurple;
			}

			&:nth-child(9) {
				background-color:lightcyan;
			}
		}

		.about-img {
			@include aboutItems;
			height: 40px;
			border-radius: 18px 18px 4px 4px;
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
}

