.cout-cash {
	margin: 0 auto;

	.cout-cash-btn {
		display: flex;
		gap: 0 8px;
		padding: 4px 12px;
		background-color: #3c3c3c;

		.cout-cash-text {
			font-family: "Istok", sans-serif;
			color: #ffffff;
			font-size: 14px;
		}
	}
}
