.user-data2 {
	font-family: "Istok", sans-serif;
	font-size: 13px;
	margin-bottom: 6px;
	display: flex;

	.user-data2-text {
		margin-right: 23px;
	}

	.user-data2-container {
		background-color: #565656;
		min-height: 12px;
		min-width: 110px;
		display: grid;
		place-items: center;

		.user-data2-value {
			color: #ffffff;
		}
	}
}
