.footer {
	margin-bottom: 24px;

	.footer-inner {
		padding: 24px;
		background-color: rgba(#181819, 0.9);
		box-shadow: 0 3px 6px rgba(#121216, 0.36);
		border-radius: 18px;
		border: 2px solid #353535;
		backdrop-filter: blur(20px);

		.footer-title {
			color: #707070;
			margin-bottom: 18px;
			font-size: 22px;
		}

		@keyframes title-img {
			from {
				transform: rotate(0);
			}

			to {
				transform: rotate(125deg);
			}
		}

		@keyframes title-img-reverse {
			from {
				transform: rotate(135deg);
			}

			to {
				transform: rotate(0);
			}
		}

		.footer-nav {
			display: flex;
			justify-content: space-around;

			.footer-block {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;

				.footer-block-title {
					display: flex;
					gap: 8px;
					margin-bottom: 8px;
					color: #7d7d7d;
					align-items: center;

					.footer-block-text {
						font-weight: 600;
					}
				}

				.footer-block-title-vk {
					cursor: pointer;
				}

				.nav-list {
					margin-left: 8px;

					.nav-item {
						display: flex;
						gap: 0 8px;

						&:not(:last-child) {
							margin-bottom: 6px;
						}

						.nav-img {
							height: 16px;
							margin-top: 3px;
						}

						.nav-link {
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.nav-list-vk {
					display: none;
					position: absolute;
					right: -8%;
					bottom: 100%;
					box-shadow: 0 3px 6px rgba(#121216, 0.36);
					border-radius: 12px;
					border: 1px solid #353535;
					background-color: #181819;
					padding: 12px;
					white-space: nowrap;
				}

				.github {
					cursor: pointer;
					margin-bottom: 8px;
					background-color: #fff0f6;
					display: block;
					border-radius: 10px;
					padding: 4px;
					display: flex;
					align-items: center;

					.github-logo {
						height: 40px;
					}

					.github-text {
						height: 40px;
					}
				}
			}
		}

		.footer-bottom {
			display: flex;
			justify-content: center;
			padding-top: 18px;
			font-family: 'Poppins', sans-serif;

			.footer-bottom-text {
				font-size: 18px;
				font-weight: 600;
				color: #7d7d7d;
			}
		}
	}
}
