.section1 {
	
	.intro {
		height: 100vh;
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;

		.btn-title	{
			color: #f4f4f4;
			font-size: 24px;
			margin-bottom: 96px;
			text-shadow: #121212 1px 0 10px;
		}

		.click-btn {
			height: 392px;
			width: 392px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;



			.btn-img-front {
				position: absolute;
				z-index: 5;
				animation: 15s linear infinite rotate;
				opacity: .95;
			}

			.btn-img-back {
				position: absolute;
				animation: 20s linear infinite rotate-reverse;
			}

			.button-text {
				z-index: 10;
				font-size: 36px;
				color: #f4f4f4;
				font-weight: 600;
				text-transform: capitalize;
				font-style: italic;
			}
		}
	}
}	

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  from {
		transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);    
  }
}
