@import url("//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  height: 111vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-image: url("../src/app/images/minimalizm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.profile {
  -webkit-box-shadow: 2px 3px 3px rgba(23, 23, 23, 0.24);
          box-shadow: 2px 3px 3px rgba(23, 23, 23, 0.24);
  background-color: rgba(255, 255, 255, 0.75);
  width: 480px;
  right: 16px;
  top: 64px;
  height: 360px;
  border-radius: 18px;
  position: fixed;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-animation: user__profile ease-out 0.3s;
          animation: user__profile ease-out 0.3s;
}

@-webkit-keyframes user__profile {
  0% {
    right: -480px;
  }
  100% {
    right: 16px;
  }
}

@keyframes user__profile {
  0% {
    right: -480px;
  }
  100% {
    right: 16px;
  }
}
.disp {
  display: none;
}

.up {
  position: fixed;
  left: 50%;
  bottom: 8px;
  height: 40px;
  width: 64px;
  border-radius: 14px;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 2px 3px 3px rgba(23, 23, 23, 0.24);
          box-shadow: 2px 3px 3px rgba(23, 23, 23, 0.24);
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  cursor: pointer;
}

.up__img {
  height: 36px;
  margin-top: 2px;
}

.section1 {
  padding-top: 128px;
  display: none;
}

.typs__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block {
  background-color: rgba(255, 255, 255, 0.75);
  width: 200px;
  height: 270px;
  border-radius: 18px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-family: sans-serif;
}

.block__title {
  text-align: center;
  font-size: 20px;
  padding: 4px 0;
}

.block__img {
  height: 128px;
  width: 128px;
  display: block;
  margin: 0 auto;
}