.user-data {
	font-family: "Istok", sans-serif;
	font-size: 13px;

	.user-data-text {
		display: flex;
		justify-content: center;
		margin-bottom: 6px;
	}

	.user-data-container {
		background-color: #d9d9d9;
		min-height: 12px;
	}
}
