.back-main-btn {
	background-color: #605e5e;
	padding: 5px;
	display: inline-flex;
	align-items: center;
	gap: 0 5px;
	position: absolute;
	left: 22px;
	top: 4px;

	.back-main-btn-text {
		color: #ffffff;
		font-size: 14px;
		font-family: "Istok Web", sans-serif;
	}
}
