.back-main-btn-2 {
	background-color: #605e5e;
	padding: 14px 86px 14px 4px;
	display: inline-flex;
	align-items: center;
	margin: 12px 0 0 18px;

	.back-main-btn-text-2 {
		color: #000000;
		font-size: 32px;
		font-family: "Istok Web", sans-serif;
	}
}
